.thanhheader
{
	height: 85px;
	background-color: rgb(48, 38, 187);
}
.thanhheader .image-logo {
    padding-top: 5px;
    padding-left: 60px;
}
.thanhheader .search
{
	padding-top: 23px;
}
.thanhheader .search .form-control-search
{
	    width: 80%;
        height: 44px;
        background: white;
}
.thanhheader .search .button-search
{
	height: 45px;
    /* padding-left: 7px; */
    width: 42px;
    margin-left: -7px;
    background: white;
    margin-top: -2px;
}
.icon-user{
	font-size: 33px;
	padding-top: 20px;
	color: white;
}
a
{
	cursor: pointer;
}
p.admin {
    padding-left: -33px;
    padding-top: 3px;
    color: white;
}

/* footer */
footer .footer-tgdd ul li
{
    list-style: none;
    padding-top: 18px;
}
footer .footer-tgdd ul
{
    float: left;
}

footer .footer-tgdd .ul1
{
    padding-left: 50px;
}
footer .footer-tgdd .ul2
{
    padding-left: 200px;
}
footer 
{
    width: 100%;
    height: 207px;
    background: white;
	padding-bottom: 125px;
	border-top: 2px solid orangered;
}
/* chung */
.user-big
{
    position: relative;
}
.user-big .user
{
    height: 50px;
    background: blue;
    
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius :30px;
    border-bottom-right-radius :30px;
}
.user-big1
{
    position: relative;
}
.user-big1 .dangki-user
{
    height: 50px;
    background: blue;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius :30px;
    border-bottom-right-radius :30px;
}
.user-big .user .text-user
{
    position: absolute;
    left: 265px;
    top: 14px;
    color: white;
}
.user-big1 .dangki-user .text-admin
{
    position: absolute;
    left: 265px;
    top: 14px;
    color: white;
}
.user-big .user:hover
{
    background: black;
}
.user-big1 .dangki-user:hover
{
    background: black;
}
.dangnhapuser
{
    opacity: 0;
    width: 315px;
    background: whitesmoke;
    
}
.dangnhapuserhienra
{
    opacity: 1;
}
.dangnhapuserdangki
{
    opacity: 0;
    width: 315px;
    background: whitesmoke;
}
.dangnhapuserhienradangnhap
{
    opacity: 1;
}

