
.khunglon .ngoisao {
    padding-top: 10px;
}
.khunglon .texttensp {
    font-size: 25px;
    color: blue;;
}
.price {
    font-size: 25px;
    padding-top: 5px;
    margin-top: 16px;
    padding-left: 3px;
    color: blue;
    height: 50px;
    background: whitesmoke;
}
.vanchuyen {
    height: 50px;
    background: whitesmoke;
    position: relative;
}
p.texttitle {
    padding-left: 5px;
    font-size: 19px;
    color: blue;
}
i.textnd {
    position: absolute;
    left: 163px;
    top: 4px;
    font-size: 17px;
}
.masp,.makh
{
    opacity: 0;
}
.form-dathang {
    position: relative;
}
.form-dathang .test {
    
    position: absolute;
    top: 91px;
    left: 217px;
}
.form-dathang .btn-dathang
{
    position: absolute;
    top: 195px;
}
.form-dathang .soluong
{
    width: 29px;
    text-align: center;
}
.tang {
    width: 29px;
    border: 1px solid gray;
    text-align: center;
}
.chonvitri {
    position: absolute;
    font-size: 18px;
    top: 93px;
    color: blue;
}
.tang {
    width: 29px;
    height: 26px;
    border: 1px solid gray;
    text-align: center;
    position: absolute;
    top: 91px;
    left: 188px;
    cursor: pointer;
}
.giam
{
    width: 29px;
    height: 26px;
    border: 1px solid gray;
    text-align: center;
    position: absolute;
    top: 91px;
    left: 246px;
    cursor: pointer;
}