@charset "ISO-8859-1";
.thanhheader
{
	height: 85px;
	background-color: rgb(48, 38, 187);
}
.thanhheader .image-logo {
    padding-top: 5px;
    padding-left: 60px;
}
.thanhheader .search
{
	padding-top: 23px;
}
.thanhheader .search .form-control-search
{
	    width: 80%;
        height: 44px;
        background: white;
}
.thanhheader .search .button-search
{
	height: 45px;
    /* padding-left: 7px; */
    width: 42px;
    margin-left: -7px;
    background: white;
    margin-top: -2px;
}
.icon-user{
	font-size: 33px;
	padding-top: 20px;
	color: white;
}
a
{
	cursor: pointer;
}
p.admin {
    padding-left: -33px;
    padding-top: 3px;
    color: white;
}

/* footer */
footer .footer-tgdd ul li
{
    list-style: none;
    padding-top: 18px;
}
footer .footer-tgdd ul
{
    float: left;
}

footer .footer-tgdd .ul1
{
    padding-left: 50px;
}
footer .footer-tgdd .ul2
{
    padding-left: 200px;
}
footer 
{
    width: 100%;
    height: 207px;
    background: white;
	padding-bottom: 125px;
	border-top: 2px solid orangered;
}
.form-aniput
{
    opacity: 0;
}
.form
{
    position: absolute;
    right: -112px;
    bottom: 5px;
}
.hienthisanpham
{
    height: 324px;
    border: 1px solid whitesmoke;
    position: relative;
}
.hienthisanpham .thongtinsanpham p
{
    padding-left: 7px;
}